<asset src="assets/codemirror/codemirror.css" priority="9" type="css" />
<asset src="assets/codemirror/codemirror.js" priority="9" type="js" />
<asset src="assets/editor/css/_main.css" priority="8" type="css" />
<asset src="assets/editor/js/_main.js" priority="8" type="js" />

<body class="dark" data-topBar="shown" data-bottomBar="shown" data-leftBar="shown" data-rightBar="shown" data-defaultBar="shown" data-editorBar="shown" data-resultBar="hidden" data-chatBar="shown">
	<include href="partials\errors.htm" />
	<include href="editor\topBar.htm" />
	<include href="editor\bottomBar.htm" />
	<div id="main">
		<include href="editor\leftBar.htm" />
		<include href="editor\rightBar.htm" />
		<include href="editor\resultBar.htm" />
		<include href="editor\defaultBar.htm" />
		<include href="editor\editorBar.htm" />
		<include href="editor\chatBar.htm" />
	</div>
</body>