.fileTree{height:100%;width:100%;overflow:auto;}
.fileTree li{cursor:default;line-height:25px;padding:0 5px;border-bottom:1px solid #222222;background-repeat:no-repeat;background-size:15px 15px;background-position:center left;text-indent:13px;}
.fileTree li:last-child{border:none;}