<!DOCTYPE html>
<html lang="{{ @LANG }}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8 ;">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<check if="{{ @title }}">
		<true><title>{{ trans('site.title') }} : {{ @title }}</title></true>
		<false><title>{{ trans('site.title') }}</title></false>
	</check>
		<!-- <set path="{{ @SCHEME.'://'.@HOST.(!@PORT||@PORT==80||@PORT==443?'':':'.@PORT).@BASE.'/' }}" />
        <base href="{{ $path }}" /> -->
        <base href="{{ @SCHEME.'://'.@HOST.(!@PORT||@PORT==80||@PORT==443?'':':'.@PORT).@BASE.'/' }}" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<meta name="description" content="{{ trans('site.description') }}">
		<meta name="keywords" content="{{ trans('site.keywords') }}">
		<meta name="author" content="{{ trans('site.author.name') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<check if="{{ Audit::instance()->ismobile() }}">
		<true><link href="/assets/css/mobile.css" type="text/css" rel="stylesheet" priority="10" /></true>
		<false><link href="/assets/css/pc.css" type="text/css" rel="stylesheet" priority="10" /></false>
	</check>
		<link href="/assets/css/app.css" priority="10" rel="stylesheet" type="text/css" />
		<link href="/assets/css/font-awesome.min.css" priority="10" rel="stylesheet" type="text/css" />
		<script src="/assets/js/jquery.min.js" priority="1" group="footer" type="text/javascript"></script>
        <script src="/assets/js/app.js" priority="1" group="footer" type="text/javascript"></script>
	</head>
	<body>
		<div id="app">
			<include href="partials\flash.htm" />
			<include href="{{ @content }}" />
        </div>
    <check if="{{ env('dev') }}"><true>
		<script src="/assets/js/reloadr.js" priority="10" group="footer" type="text/javascript"></script>
		<script type="text/javascript">reloadr.start({url:"{{'reloadr' | alias }}", freq:"{{@RELOADR.FREQ}}"});</script>
	</true></check>
	</body>
</html>