<link href="/assets/editor/css/bottomBar.css" priority="1" rel="stylesheet" type="text/css" />
<script src="/assets/editor/js/bottomBar.js" priority="1" group="footer" type="text/javascript"></script>

<ul id="bottomBar" class="bar bottom vline">
    <li><div>Anand</div>
        <ul>
          	<li><div>hello</div></li>
        </ul>
    </li>
    <li class="divider">|</li>
    <li><div>Pilania</div>
        <ul>
          	<li><div>hello</div></li>
        </ul>
    </li>
    <li class="divider">|</li>
    <li><div>Anu</div>
        <ul>
          	<li><div>hello</div></li>
        </ul>
    </li>
    <li class="divider">|</li>
    <li><div>Tiger</div>
        <ul>
          	<li><div>hello</div></li>
        </ul>
    </li>
    <li class="divider">|</li>
    <li><div>Anand Pilania</div>
        <ul>
          	<li><div>hello</div></li>
        </ul>
    </li>
    <li class="divider">|</li>
    <li><div>Anu Tiger</div>
        <ul>
          	<li><div>hello</div></li>
        </ul>
    </li>
</ul>