<asset src="assets/editor/css/chatBar.css" priority="1" type="css" />
<asset src="assets/editor/js/chatBar.js" priority="1" type="js" />

<div id="chatBar" class="bar chat vline">
	<div class="outer">
		<ul class="chatboxholder">
			<li class="chatbox active" data-id="123">
				<div class="outer">
					<div class="header">
						<div class="status online"></div>
						<div class="info">
							<div class="name ellipsis">Anand Pilania</div>
							<span class="till">active now</span>
						</div>
						<div class="options">
							<span class="fa fa-cog"></span>
							<span class="fa fa-close"></span>
						</div>
					</div>
					<div class="middle">
						<div class="message default">No messages yet...</div>
						<div class="loader fa fa-spinner fa-pulse fa-fw"></div>
						<div class="at"></div>
						<div class="message sent"></div>
						<div class="message received"></div>
						<div class="message sent"></div>
						<div class="message received"></div>
					</div>
					<div class="footer">
						<div class="textarea"><textarea></textarea></div>
						<div class="attach">
							<ul>

							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>