<asset src="assets/editor/css/resultBar.css" priority="1" type="css" />
<asset src="assets/editor/js/resultBar.js" priority="1" type="js" />

<div id="resultBar" class="bar result" data-top-upper="shown" data-top-lower="shown" data-bottom-upper="shown">
    <div class="top">
        <ul class="upper"></ul>
        <div class="lower">
           	<ul class="control">
           	    <li title="Go back"><span class="fa fa-arrow-left"><span></li>
                <li title="Go forward"><span class="fa fa-arrow-right"><span></li>
                <li title="Stop"><span class="fa fa-stop"><span></li>
                <li title="Reload"><span class="fa fa-refresh"><span></li>
           	</ul>
        </div>
    </div>
    <div class="bottom">
        <div class="upper"></div>
        <div class="lower"></div>
    </div>
</div>