<link href="/assets/editor/css/rightBar.css" priority="1" rel="stylesheet" type="text/css" />
<script src="/assets/editor/js/rightBar.js" priority="1" group="footer" type="text/javascript"></script>

<div id="rightBar" class="bar right" data-top-upper="shown" data-top-lower="shown" data-bottom-upper="shown" data-bottom-lower="shown">
    <div class="top">
        <ul class="upper menu">
            <li><span class="fa fa-volume-up"></span></li>
            <li><span class="fa fa-cog"></span></li>
            <li><span>c</span></li>
            <li class="close"><span class="fa fa-close"></span></li>
        </ul>
        <div class="lower">
            <input type="text" class="inputsearch" id="rightbarsearch" placeholder="Username" />
        </div>
    </div>
    <div class="bottom">
        <div class="upper">
            <ul>
                <li>
                    <div class="left"><img class="online" src="#"></img></div>
                    <div class="center">
                        <h4 class="ellipsis">Anand Pilania from</h4>
                        <span class="till">active now</span>
                    </div>
                    <div class="right"><span class="fa fa-cog"></span></div>
                </li>
                <li>
                    <div class="left"><img class="offline" src="#"></img></div>
                    <div class="center">
                        <h4>Anu Tiger</h4>
                        <span class="till">9 hrs ago</span>
                    </div>
                    <div class="right"><span class="fa fa-cog"></span></div>
                </li>
            </ul>
        </div>
        <div class="lower"></div>
    </div>
</div>
